
<div class="row">
  <h1>My Wikis <% if policy(Wiki.new).create? %><%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  <% end %></h1>
</div>

<div class='row'>
  <div class='col-md-8'>
    <table class="table table-bordered">
    <% @wikis.each do |wiki| %>
      <tr>
          <td><p class "media-heading"><%= link_to wiki.title, wiki %></p></td>
          <td><%= link_to "Edit", edit_wiki_path(wiki), class: "btn btn-success" %></td>
          <td><%= link_to "Delete", wiki, method: :delete, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>